body {
	position: static;
	background: no-repeat url("bG.jpg");
	height: 100vh;
	background-size: cover;
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 600px;
	padding: 50px 20px;
	position: relative; /* Add a relative position to the container */
}

.header {
	text-align: center;
}

h1 {
	color: #FFFFFF;
	font-size: 48px;
	margin: 0;
}

h2 {
	color: #FFFFFF;
	font-size: 24px;
	margin: 20px 0 0;
}

.menu {
	margin-top: 50px;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 20px;
}

a {
	color: #FFFFFF;
	font-size: 24px;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
}

/* Add the bunny image and animation properties */
.bunny {
	position: relative;
	top: 580px; /* Adjust the top position to your preference */
	right: 200px; /* Set the starting position outside the screen */
	background-image: url("bunny.gif");
	background-size: contain;
	width: 100px;
	height: 70px;
	animation: walk 7s linear infinite; /* Add the animation */
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
}

@keyframes walk {
	0% {
		transform: translateX(-700px) scaleX(-1); /* Set the starting position and flip the image horizontally */
		opacity: 0;
	}
	10% {
		transform: translateX(calc(100 + 100px)) scaleX(1); /* Set the ending position and flip the image horizontally */
		opacity: 1;
	}
	100% {
		transform: translateX(400px) scaleX(-1); /* Set the starting position and flip the image horizontally */
		opacity: 1;
	}
}

/* Hole */

.hole {
	position: absolute;
	top: 570px; /* Set the position where you want the hole to be */
	left: 5%; /* Center the hole horizontally */
	transform: translateX(-50%); /* Center the hole horizontally */
	width: 100px;
	height: 100px;
	background-image: url("portal.gif");
	background-size: contain;
	transform: scaleX(-1);
	animation: appear 7s linear infinite;
	animation-timing-function: ease-in;
}

@keyframes appear {

	0% {
		transform: translateX(0%) scaleX(-1); /* Set the end position and flip the image horizontally */
		opacity: 0;
	}
	70%{
		transform: translateX(0%) scaleX(-1); /* Set the end position and flip the image horizontally */
		opacity: 1;
	}
	90%{
		transform: translateX(0%) scaleX(-1); /* Set the end position and flip the image horizontally */
		opacity: 1;
	}
	100%{
		transform: translateX(0%) scaleX(-1); /* Set the end position and flip the image horizontally */
		opacity: 0;
	}
}


@keyframes vanish {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}