body {
	position: static;
	background: no-repeat url("bG.jpg");
	height: 100vh;
	background-size: cover;
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 600px;
	padding: 50px 20px;
	position: relative; /* Add a relative position to the container */
}

.header {
	text-align: center;
}

h1 {
	color: yellow;
	font-size: 48px;
	margin: 0;
}

h2 {
	color: #FFFFFF;
	font-size: 24px;
	margin: 20px 0 0;
}

.menu {
	margin-top: 50px;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 20px;
}

a {
	color: #FFFFFF;
	font-size: 24px;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
}


