body{
    background: black;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
}

h1{
    text-align: center;
    color: red;    
}


.skill-box{ 
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    width: 100%;
    top: auto;
    left: 44.5%;
}

.skill-box li{
    text-align: center;
    width: 10%;
    border: solid 1px red;
    padding: 5px;
    text-decoration: none;
}

.btn {
    position: absolute;
    top: 5px;
    left: 5px; 
}

.btn ul{
    display: flex;
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.btn li{
    border: solid red;
	padding: 5px;
	border-left: none;
	border-right: none;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover{
	color: yellowgreen;
}

#left{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
#right{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}



.desc{
    position: absolute;
    top: 70%;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

#js{
    font-size: larger;
}